
{% extends 'base.html' %}
{% block content %}
  <h1>T r e n d   E n g i n e</h1>
  <div class="grid-container">
  <div id="left-col" class="grid-container-cell">
    <!--Select algorithm name - grey out parameters for the other one -->
    <p>Trend Engine is a tool for describing trends and changes in vegetation over time. It relies on Google Earth Engine 
    for obtaining remote sensing time series data and the analysis is based on two available algorithms: PolyTrend and DBEST. The repository 
    of this project can be found <a href="https://github.com/OlaMag/trend-engine">here</a>.</p>
    <h2>Select algorithm</h2>
    <h3>DBEST</h3>
    <p>A program for analyzing vegetation time series, with two algorithms: 1) change detection algorithm that detects trend changes, determines their type (abrupt or non-abrupt), and estimates their timing, magnitude, number, and direction; 2) generalization algorithm that simplifies the temporal trend into main features. The user can set the number of major breakpoints or magnitude of greatest changes of interest for detection, and can control the generalization process by setting an additional parameter of generalization-percentage.</p>
    <h3>PolyTrend</h3>
    <p>PolyTrend classifies the trends into linear, quadratic, cubic, concealed and no-trend types. The "concealed trends" are those trends that possess quadratic or cubic forms, but the net change from the start of the time period to the end of the time period hasn't been significant. The "no-trend" category includes simple linear trends with statistically in-significant slope coefficient.</p>
    <p><small>Source: https://CRAN.R-project.org/package=PolyTrend</small></p>
    <h3>Datasets</h3>
    <table>
      <tr>
        <th>Name</th>
        <th>Available dates</th>
        <th>Resolution</th>
        <th>NDVI values range</th>
      </tr>
      <tr>
        <td>GIMMS</td>
        <td>Jul 1, 1981 - Dec 31, 2013</td>
        <td>8 km</td>
        <td>min: -1, max: 1</td>
      </tr>
      <tr>
        <td>MODIS NDVI</td>
        <td>Feb 18, 2000 - Present</td>
        <td>250 m</td>
        <td>min: -2 000, max: 10 000</td>
      </tr>
    </table>
    <button id="dbestBtn" onclick="setDbest()">DBEST</button>
    <button id="ptBtn" onclick="setPt()">PolyTrend</button>
    <a href="{{ url_for('main.help') }}"><button>Help</button></a>
    <form method="POST" action="{{ url_for('calculations.run_DBEST') }}">
      

  <fieldset>
      <legend>DBEST parameters</legend>
      <fieldset>
          <legend>Dataset query</legend>
          Dataset
          <select id="dataset_name" name="dataset_name" onchange="updateDateRange(this.value)">
            <option value=0 selected>Select name</option>
            <option value="NASA/GIMMS/3GV0">GIMMS NDVI 8000m</option>
            <option value="MODIS/006/MOD13Q1_NDVI">MODIS NDVI 250m</option>
            <option value="MODIS/006/MOD13Q1_EVI">MODIS EVI 250m</option>
          </select>
          <br>
          Start date
          <input type="range" name="date_from_input" min=1983 max=2019 id="date_from_range" 
          onchange="updateInput(this.value, this.name);">
          <input type="text" id="date_from_input" name="from_year"  value="">
          <br>
          End date
          <input type="range" name="date_to_input" min='' max='' id="date_to_range" 
          onchange="updateInput(this.value, this.name);">
          <input type="text" name="to_year" id="date_to_input" value="">
          <br>
          Coordinates
          <textarea id="coords" name="coordinates" style="width:300px;height:70px"></textarea>
          <br>
          Save time series to a csv file? 
          <label for="yes">Yes</label>
          <input type="radio" name="save_ts_to_csv" value="yes" id="yes">
          <label for="no">No</label>
          <input type="radio" name="save_ts_to_csv" value="no" id="no" checked>
      </fieldset>
      <div id="dbestDiv" style="display: none">
      <input type="" id="isDbest" name="isDbest" value="yes" style="display: none"> 
      Data type
      <select name="data_type">
        <option value="cyclical" selected>cyclical</option>
        <option value="non-cyclical">non-cyclical</option>
      </select><br>
      Algorithm
      <select name="algorithm">
        <option value="changedetection" selected>change_detection</option>
        <option value="generalization">generalization</option>
      </select><br>
      Number of breakpoints
      <input type="range" min=1 max=40 name="breakpoint_no_input" onchange="updateInput(this.value, this.name);">
      <input type="text" id="breakpoint_no_input" name="breakpoint_no">
      <br>
      Seasonality
      <input type="text" name="seasonality" value=12></input>
      <br>
      First level shift 
      <input type="text" name="first_level_shift" id="first_level_shift" value=0.1></input>
      <br>
      Second level shift 
      <input type="text" name="second_level_shift" id="second_level_shift" value=0.2></input>
      <br>
      Distance 
      <input type="text" name="distance" value="default"></input>
      <br>
      Duration 
      <input type="text" name="duration" value=12></input>
      <br>
      Alpha
      <input type="text" name="alpha" value=0.05></input>
      <br>
      Save result to a csv file? 
      <label for="yes">Yes</label>
      <input type="radio" name="save_result_to_csv" value="yes" id="yes">
      <label for="no">No</label>
      <input type="radio" name="save_result_to_csv" value="no" id="no" checked>
    </fieldset>
    <input type="submit" value="Submit">
    <input type="reset" value="Reset">
  </div>
    </form>
        <!-- PolyTrend input -->
      <div id="ptDiv" style="display: none;">
    <form method="POST" action="{{ url_for('calculations.run_polytrend') }}">
        <legend>Dataset query</legend>
        Dataset
        <select id="dataset_name" name="dataset_name" onchange="updateDateRange(this.value)">
          <option value=0 selected>Select name</option>
          <option value="NASA/GIMMS/3GV0">GIMMS NDVI 8000m</option>
          <option value="MODIS/006/MOD13Q1_NDVI">MODIS NDVI 250m</option>
          <option value="MODIS/006/MOD13Q1_EVI">MODIS EVI 250m</option>
        </select>
        <br>
        Start date
        <input type="range" name="date_from_input" min=1983 max=2019 id="date_from_range" 
        onchange="updateInput(this.value, this.name);">
        <input type="text" id="date_from_input" name="from_year"  value="">
        <br>
        End date
        <input type="range" name="date_to_input" min='' max='' id="date_to_range" 
        onchange="updateInput(this.value, this.name);">
        <input type="text" name="to_year" id="date_to_input" value="">
        <br>
        Coordinates
        <textarea id="coords" name="coordinates" style="width:300px;height:70px"></textarea>
        <br>
        Save time series to a csv file? 
        <label for="yes">Yes</label>
        <input type="radio" name="save_ts_to_csv" value="yes" id="yes">
        <label for="no">No</label>
        <input type="radio" name="save_ts_to_csv" value="no" id="no" checked>
    </fieldset>

      <h3>Select parameters for PolyTrend</h3>
      <fieldset>
        <legend>PolyTrend parameters</legend>
        <input type="" id="isPolytrend" name="isPolytrend" value="yes" style="display: none"> 
        Alpha
        <input type="text" name="alpha" value=0.05></input>
        <br>
        Save result to a csv file? 
        <label for="yes">Yes</label>
        <input type="radio" name="save_result_to_csv" value="yes" id="yes">
        <label for="no">No</label>
        <input type="radio" name="save_result_to_csv" value="no" id="no" checked>
      </fieldset>
      <input type="submit" value="Submit">
      <input type="reset" value="Reset">
    </form>
  </div>
  <div id="right-col" class="grid-container-cell"> 
    <h3>Check coordinates</h3>
   <div id="map" style="width: 600px; height: 600px"> 
   </div>
   <h3>Coordinates</h3>
   <p>Copy coordinates from underneath exactly in the format provided, <br>
   e.g. for point [long, lat], for polygon [[[long, lat], [long, lat], [long, lat]]]</p>
    <button onclick="copyCoords()">Copy</button>
   <textarea id="coords" style="width:400px;height:150px"></textarea>
 </div>
 </body>

 {% endblock %}
{% block script %}
<script>
  /*
  function setGimms(){
    let gimmsDiv = document.getElementById('gimmsDiv');
    modisDiv.style.display = 'none';
    gimmsDiv.style.display = '';
  }
  function setModis(){
    let modisDiv = document.getElementById('modisDiv');
    gimmsDiv.style.display = 'none';
    modisDiv.style.display = '';
  }
  */
  var coordinates = document.getElementById('coords');

  function setDbest(){
    let dbestDiv = document.getElementById('dbestDiv');
    ptDiv.style.display = 'none';
    dbestDiv.style.display = '';
  }
  function setPt(){
    let ptDiv = document.getElementById('ptDiv');
    dbestDiv.style.display = 'none';
    ptDiv.style.display = '';
  }
  function copyCoords(){
    coordinates.select();
    document.execCommand("copy");
  }

  ///////////////// MAKE A MAP WITH DRAW CONTROL FOR MARKING AREA OF INTEREST ////////////////////////////
  var map = document.getElementById('map'),
    leafletMap = L.map(map).setView([52.410021807429814, 18.620109558105472], 10);
    // czerlonka [23.721885681152347,52.69205388054723]
    // tomislawice [52.410021807429814, 18.620109558105472]

  //0.45043945312500006,10.151304278092596
  var mapLink = 
  '<a href="http://openstreetmap.org">OpenStreetMap</a>';
  L.tileLayer(
  'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', 
  {
    attribution: '&copy; ' + mapLink + ' Contributors',
    maxZoom: 15,
    minZoom: 6
    }
  ).addTo(leafletMap);
  //add map controls
  var drawnItems;
  L.control.scale().addTo(leafletMap);
  //add drawing utilities, only marker and polygon can be drawn
  var drawnItems = new L.FeatureGroup();
  leafletMap.addLayer(drawnItems);
  var drawControl = new L.Control.Draw({draw: {
    polyline: false,
    polygon: false,
    rectangle: true,
    circle: false,
    marker: true
  },
  edit:{
    featureGroup: drawnItems
  }
  });
  leafletMap.addControl(drawControl);
  //when a marker is drawn, display its coordinates
  leafletMap.on(L.Draw.Event.CREATED, function (e) {
    let type = e.layerType,
      layer = e.layer;
    if (type === 'marker'){
      drawnItems.addLayer(layer);
      let latLng = layer.getLatLng();
      coordinates.innerHTML = '[' + latLng.lng + ',' + latLng.lat + ']';
    }
    if (type === 'rectangle'){
      drawnItems.addLayer(layer);
      let latLng = layer.getLatLngs()[0];
      coordinates.innerHTML = '[[['+latLng[0].lng +','+ latLng[0].lat + '],[' + latLng[1].lng+ ',' + latLng[1].lat + '],[' + 
        latLng[2].lng + ', ' + latLng[2].lat + '], [' + latLng[3].lng + ', ' + latLng[3].lat + ']]]';
    }
  });  
</script>
{% endblock %}
